* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

body {
  font-size: 1.6rem;
}

/*-------- Navigation --------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#071d4c;
  font-size: 0.8rem;
  border-bottom: solid 0.3rem;
  border-color: #b98800;
 }

.logo-btob {
  width: 5rem;
  margin-left: 1rem;
}

.nav-menu {
 list-style: none;
 margin-right: 0.5rem;
}

.nav-item a {
 display: inline-block;
 padding: 0.2rem;
 text-decoration: none;
 color: #b98800;
}

.nav-item a:hover {
  color: white;
}

/*-------- Header --------*/

.entry-title {
  font-size: 0.8rem;
  margin: 2rem auto 2rem 2rem;
  color: #b98800;
}

@media screen and (min-width: 600px) {
  .nav-menu>.nav-item {
     display: inline-block;
     font-size: 1.6rem;
     margin-right: 1.5rem;
  } 
  .entry-title{  
    margin: 4rem auto 4rem 6rem;
    font-size: 2rem;
  }
  .logo-btob {
    width: 8rem;
    margin-left: 1rem;
  }
}

p{
  color: rgb(53, 77, 121);
  font-family: sans-serif;
}

/*-------- Slide  --------*/

#slide { 
  width: 90%; 
  max-width: 900px; 
  overflow: hidden; 
  margin: auto; 
  border: 2px solid;
}

#slide figure {
  position: relative; 
  width: 500%;
  animation: 25s slidy infinite;
}

#slide figure .img-slide { 
  width: 20%; 
  float: left; 
}

@keyframes slidy {
  0% { right: 0%; }
  10% { right: 0%; }
  20% { right: 100%; }
  30% { right: 100%; }
  40% { right: 200%; }
  50% { right: 200%; }
  70% { right: 300%; }
  80% { right: 300%; }
  90% { right: 400%; }
  100% { right: 400%; }
}

/*-------- Section bulle et avis --------*/


.title-recommend {
  font-size: 0.8rem;
  margin: 2rem auto 2rem 2rem;
  color: #b98800;
}

.bulle {
  width: 10%;
  height: 10%;
  margin: 0.8rem;
}

.global-feedbacks {
  display: flex;
  align-items: center;
  width: 95%;
}

.global-feedbacks p {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.button-feedback {
  margin: 1rem auto auto 44%;
  font-size: 0.70rem;
}

@media screen and (min-width: 600px) {
  .title-recommend {
    margin: 4rem auto 4rem 6rem;
    font-size: 1.7rem;
  }  
  .bulle { 
    margin-top: 2rem;
    margin-left: 8rem;
    width: 7rem;
  }
  .global-feedbacks p {
    padding: 0.6rem;
  }
  .button-feedback {
    margin: 2rem auto auto 50%; 
    font-size: 1rem;
  }
}

/*-------- footer --------*/

.footer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #071d4c;
  color: #b98800;
  margin-top: 3rem;
  padding: 0.65rem;
  border-top: solid 0.3rem;
  border-color: #b98800;
}

.logo-btob1 {
  width: 3rem;
}

.footer-container p {
  font-size: 0.75rem;
  color: #b98800;
}

@media screen and (min-width: 600px) {
  footer {
    margin-top: 5rem;
    padding: 0.90rem;
  }
  .logo-btob1 {
    width: 7rem;
  }
  .footer-container p {
    font-size: 1.7rem;  
  }

}
/*-------- page contact --------*/
.h2-contact {
color: #b98800;
margin: 1.5rem;
}

.contact {
  text-align: center;
}

label {
  line-height: 2;
}

/* Effet de style sur le texte qui sera ecrit dans les cases */
input[type="text"],
input[type="email"],
textarea {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
}
input[type="button"] {
  background:#b98800 ;
  color: white;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 5px 10px;
}
input[type="button"]:hover {
  background-color: rgba(178, 32, 19, 0.8);
  transition: 1s;
}
/* Effet de style sur le bouton */
input[type="submit"] {
  background:#b98800 ;
  color: white;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 5px 10px;
}
/* Effet pour quand que l'utlisateur met la souris sur le bouton
le bouton change de couleur et dans ce cas il devient rouge */
input[type="submit"]:hover {
  background-color: rgba(178, 32, 19, 0.8);
  transition: 1s;
}
@media screen and (max-width: 900px) {
  .h2-contact {
    font-size: 1rem;
  }
}
